body {
    background-color: #f5f5f5;
    /* 薄いグレー */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* ヘッダー */
.header {
    background-color: #fff;
    /* 白背景 */
    height: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.header-inner-logo {
    font-size: 25px;
    font-weight: bold;
    color: #7b4fff;
}

.actions {
    display: flex;
    gap: 20px;
}

.action-btn {
    color: #000;
    font-size: 15px;
    background-color: #e7e6e6;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 7px;
    cursor: pointer;
    display: flex;
    /* ← 中身（アイコン等）も中央に */
    align-items: center;
    justify-content: center;
    line-height: normal;
    text-decoration: none;
}

/* コンテナ */
.container {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    /* コンテナも白 */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* タイトル */
.title {
    font-size: 25px;
    margin-bottom: 20px;
}

.error {
    color: red;
    font-size: 0.9rem;
}

/* フォーム */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="number"],
input[type="date"],
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.time {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* ボタン */
.form-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.form-buttons-return {
    background-color: #e7e6e6;
    border: none;
    padding: 5px 40px;
    border-radius: 5px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.form-buttons-update {
    background: linear-gradient(135deg, #a18cd1 0%, #b3e5fc 100%);
    color: #fff;
    border: none;
    padding: 5px 40px;
    border-radius: 5px;
    cursor: pointer;
}

.update-btn {
    background: linear-gradient(45deg, #7b2ff7, #f107a3, #00c6ff);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.return-btn {
    color: #00c6ff;
    text-decoration: underline;
}

.inline {
    text-align: right;
}

.delete-btn {
    background-color: crimson;
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}